body {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    
    
    margin-top: -70px;
    margin-left: 0;
    margin-right: 0px;
    
}

.donate-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(166, 18, 62),rgb(118, 46, 90));
    margin-top: 100px;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    margin-bottom: 20px;
   
}

.header-sec{
    text-align: center; 
    color:white;
     background-image: url(donation1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    background-size: cover;
    margin-top:0;
    
    
}

.header-sec-detail{
    text-align: center;
    margin-left: 300px;
    margin-top: 200px;
    margin-bottom: 40px;
    width: 50%;
    font-size: 20px;
}

.header-caption{
    /* width: 50%; */
    text-align: center;
    font-size: 60px;
    margin-top:70px;
}